body{
    background-color: #EFFFFB;

    font-family: "Geologica", sans-serif;
    
    overflow-x: hidden;
}

.site{
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);
}

#UBC_Logo{
    width: 3.5vw;
}

#primary-nav{
    background-color: #4F98CA;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.nav-link{
    color: white;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 5vw;
  height: 5vw;
}

.carousel-control-prev,
.carousel-control-next {
  width: 8vw;
}

.carousel-indicators{
    width: 50vw;
    justify-self: center;
}

.club-info{
    background-color: #EFFFFB;
    padding: 2% 10% 2% 10%;
}

a{
    color:#50D890;
}

a:hover{
    color:#409668
}

#homepage-carousel{
    width: 80vw;
    display: flex;
    justify-self: center;
}

.centered-paragraph{
    justify-self: center;
}

.socials{
    width: 6vw;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.footer-icon{
    width: 3vh;
}

#footer-link:hover{
    color:#c5e3ff;
}

footer{
    display: flex;
    background-color: #272727;
    justify-content: center;
    justify-content: space-between;
    padding: 1% 10% 1% 10%;
    
}

.contact-us-info{
    background-color: #EFFFFB;
    padding: 2% 10% 2% 10%;
}

.contact-us-forms{
    padding: 2% 10% 2% 10%;
}

#submit-button{
    background-color: #50D890;
    color: black;
    border: none;
}

#submit-button:hover{
    background-color:#8ae4b4
}

#submit-button-div{
    display: flex;
    justify-content: end;
}

.juniors-info{
    background-color: #EFFFFB;
    padding: 2% 10% 2% 10%;
}

.juniors-image{
    width: 15vw;
    justify-self: center;
}

.juniors-img-div{
    padding: 30% 10% 30% 10%;
    width: 18vw;
}

.more-info-p{
    background-color: #EFFFFB;
    padding: 2% 10% 2% 10%;
}

.nav-title{
    color: white;
    justify-self: center;
    align-self: center;
    margin: 0 0 0 0;
}

#nav-title-col{
    display: flex;
}

#nav-img-col{
    padding-right: 0;
    width: 8vw;
}

.accessibility-info{
    background-color: #EFFFFB;
    padding: 2% 10% 2% 10%;
}

.accessibility-option{
    background-color: #EFFFFB;
    padding: 2% 10% 2% 10%;
}

#accessibility-button{
    background-color: #50D890;
    color: black;
    border: none;
    margin-right: 3vw;
}

#accessibility-button:hover{
    background-color:#8ae4b4
}

@media only screen and (max-width: 991px) {
    #homepage-carousel {
        width: 100vw;
    }

    p{
        font-size: small;
    }

    h3{
        font-size: small;
    }

    h6{
        font-size: small;
    }

    footer{
        font-size: small;
    }

    #juniors-image-col{
        display: none;
    }

    #juniors-info-col{
        width: 100vw;
    }

    #UBC_Logo{
        width: 8vw;
    }

    .nav-title{
        margin: 0 0 0 10%;
        font-size: medium;
    }

}

