body{
    background-color: #EFFFFB;

    font-family: "Geologica", sans-serif
}

.site{
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);
}

#UBC_Logo{
    width: 27%;
}

#primary-nav{
    background-color: #4F98CA;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.nav-link{
    color: white;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 5vw;
  height: 5vw;
}

.carousel-control-prev,
.carousel-control-next {
  width: 8vw;
}

.carousel-indicators{
    width: 50vw;
    justify-self: center;
}

.club-info{
    background-color: #EFFFFB;
    padding: 2% 10% 2% 10%;
}

#homepage-carousel{
    width: 80vw;
    display: flex;
    justify-self: center;
}

.centered-paragraph{
    justify-self: center;
}

.socials{
    width: 6vw;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.footer-icon{
    width: 3vh;
}

#footer-link:hover{
    color:#c5e3ff;
}

footer{
    display: flex;
    background-color: #272727;
    justify-content: center;
    justify-content: space-between;
    padding: 1% 10% 1% 10%;
    
}

.contact-us-info{
    background-color: #EFFFFB;
    padding: 2% 10% 2% 10%;
}

.contact-us-forms{
    padding: 2% 10% 2% 10%;
}

#submit-button{
    background-color: #50D890;
    color: black;
    border: none;
}

#submit-button-div{
    display: flex;
    justify-content: end;
}

@media only screen and (max-width: 991px) {
    #homepage-carousel {
        width: 100vw;
    }

    p{
        font-size: small;
    }

    h3{
        font-size: small;
    }

    h6{
        font-size: small;
    }

    footer{
        font-size: small;
    }

}